# Banco de dados MySQL
DB_USER=root
DB_PASSWORD=brasa_local_troque_me
DB_HOST=localhost
DB_PORT=3306
DB_NAME=brasa_pizzaria_db

# JWT
JWT_SECRET=troque_esta_chave_em_producao_por_algo_aleatorio
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=120

# Servidor
APP_PORT=8002
