fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
pymysql==1.1.1
cryptography==43.0.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1  # passlib 1.7.4 quebra com bcrypt >= 4.1 (erro "password cannot be longer than 72 bytes")
pyjwt==2.9.0
python-dotenv==1.0.1
python-multipart==0.0.9
websockets==13.1
